
@{
    ViewData["Title"] = "Artwork";
}

<h1>Artwork</h1>

@*https://docs.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/9-working-with-images*@

<img src="~/Content/MK9Castle.png" />