@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mythical Canines!</h1>
</div>

<div class="text-center">
    <h2>A mobile game about dogs fight in a team to attack and defend from the evil cats from destroying their world.</h2>
</div>

<div class="text-center">
    <img src="~/Content/MK9Classes.png" />
</div>

@*<head runat="server">
        <title>Mythical Canines</title>
        <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>*@