@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head runat="server">
    <title>Mythical Canines</title>
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>

<p>Here at FlareCo, we respect your privacy and it's important to you. Please read carefully and take your time in the privacy policy page.
    Our Policy is created to help you understand what kind of data we will collect and how we use and share information and how the data it is protected.</p>

<div>
    <h1>1.) What types of data we collect</h1>
</div>

<p>The information you give to us.
    This includes Email, password, phone number</p>

