
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h2>4/15/2019 Ver. 1.0.0</h2>
<p>Hey guys! Welcome to Mythical Canines developer updates Version 1.0.0!<br /> The first update for this game! Yay~ Anyway, you the player can control a K9 can choose one of the 4 classes. In
    this world you fight against evil cats who've taken over the dogs territory.<br />
</p>

<h3>What's New?</h3>

<p> - Added Beta version 1.0.0!<br />
    Featuring new mode, better gameplay and bug fixes.<br />
    - Added a ability to all classes called fusion classes.<br /> 
    Fusion classes are classes that the K9's can obtain when you have two classes unlocked.<br />
    For example if you're an thief and a mage You can still be a thief with mage powers or a mage with thief powers. The original class moves will still be useable.<br /> 
    - Players can now make in app purchases<br /> 
    Players can purchase with real world money and exchange it with Kirohexim. (*Optional purchase)<br />
    - Added a new playable mode named Snack Attack!<br />
    Players move around and attack incoming enemies gaining Mythical Points.<br /> 
    Gaining a lot of Mythical Points or MP grants the player to access powerful moves to gain more snacks.<br />
    The most player with the most amount of snacks before the time runs out wins.<br />
    - Minor Bug Fixes<br />
    In some case players can get stuck in the wall in world 2-1 in a certain parts the map.<br />
    Fixed various glitches such as player models stretching.<br />
    Minor text errors in the shop.<br />
</p>

<h2>5/4/2019 Ver. 1.0.1</h2>
<p>Welcome to Mythical Canines developer updates Version 1.0.1!<br /> 
   In this update will be sharing some new features and a new holiday event collaboration with StarWars

</p>

