
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h2>4/15/2019 Ver. 1.0.0</h2>
<p>Hey guys! Welcome to Mythical Canines developer updates Version 1.0.0!<br /> The first update for this game! Yay~ Anyway, you the player can control a K9 can choose one of the 4 classes. <br />
    </p>

