body {
    background-image: url("~/Content/planet.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

@font-face {
    font-family: 'arcade' !important;
    src: url(~/text/PressStart2P.ttf)format('opentype');
}

.textfont {
    font-family: 'arcade';
}

