body {
    background-image: url("../Content/mainpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

@font-face {
    font-family: 'arcade' !important;
    src: url(../text/Arcade.ttf)format('opentype');
}

.textfont {
    font-family: 'arcade';
}

/*p {
    color: #000000;
}*/ 